@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins/Poppins-Medium.ttf') format('woff2');
} 



body {
  background-color: #f5f5dc; 
  font-family: 'Open Sans', sans-serif; 
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}



