/* Estilos para la impresión del recibo */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
  }
  
  #recibo {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2, h3 {
    text-align: center;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  